<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.5.2.830" />
  <package id="Common.Logging" version="2.0.0" />
  <package id="Iesi.Collections" version="3.2.0.4000" />
  <package id="log4net" version="1.2.10" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="NHibernate" version="3.2.0.4000" />
  <package id="NServiceBus" version="3.0.0-rc5" />
  <package id="NServiceBus.Azure-CI" version="3.0.2038" />
  <package id="NServiceBus.Host" version="3.0.0-beta6" />
  <package id="NServiceBus.NHibernate-CI" version="3.0.2038" />
  <package id="NServiceBus-CI" version="3.0.2038" />
  <package id="WindowsAzure.ServiceBus" version="1.5.0.0" />
  <package id="WindowsAzure.StorageClient.Library" version="1.4" />
</packages>