<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="AzureProfileConfig" type="NServiceBus.Config.AzureProfileConfig, NServiceBus.Hosting.Azure" />
  </configSections>

  <AzureProfileConfig Profiles="NServiceBus.Production, NServiceBus.OnAzureTableStorage, NServiceBus.WithAzureStorageQueues" />

 
</configuration>