<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.5.2.830" />
  <package id="CommonDomain" version="1.4.0" />
  <package id="EventStore" version="3.0.11326.44" />
  <package id="log4net" version="1.2.10" />
  <package id="NServiceBus" version="3.0.0-rc5" />
  <package id="NServiceBus.Autofac" version="3.0.0-beta3" />
</packages>