<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core"/>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
  </configSections>
  <connectionStrings>
    <add name="MembershipEventStore" connectionString="Url = http://localhost:8080/databases/Membership"/>
  </connectionStrings>
  <MsmqTransportConfig
                       InputQueue="membershipEndpoint"
                       ErrorQueue="membershipEndpointError"
                       NumberOfWorkerThreads="1"
                       MaxRetries="5"/>
  <UnicastBusConfig>
    <!--DistributorControlAddress="" DistributorDataAddress="" ForwardReceivedMessagesTo="">-->
    <MessageEndpointMappings>
      <add Messages="LifeMap.Membership.Commands" Endpoint="membershipEndpoint" />
      <add Messages="LifeMap.Membership.Events" Endpoint="membershipEndpoint" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  
  <appSettings>
    <add key="EndpointConfigurationType" value="LifeMap.Membership.MessageHandlers.EndpointConfig, LifeMap.Membership.MessageHandlers"/>
  </appSettings>
</configuration>