<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointConfigurationType" value="LifeMap.Membership.MessageHandlers.EndpointConfig, LifeMap.Membership.MessageHandlers"/>
  </appSettings>
  <runtime>
    <assemblyBinding>
      <runtime>
        <dependentAssembly>
          <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="" culture="neutral" />
          <bindingRedirect oldVersion="3.0.0.0-4.65535.65535.65535" newVersion="4.0.5.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
          <bindingRedirect oldVersion="3.0.0.0-4.65535.65535.65535" newVersion="4.0.5.0" />
        </dependentAssembly>
      </runtime>
    </assemblyBinding>
  </runtime>
</configuration>


